{% extends 'exam_base.html' %}

{% block body %}
<div class="container d-flex justify-content-center mt-5">
    <div class="card" style="max-width: 80vw;">
        <div class="card-header bg-danger text-white">
            <h5 class="card-title mb-0">Confirmar Exclusão</h5>
        </div>
        <div class="card-body" style="padding: 1em 4em 1em 4em;">
            <div class="row d-flex align-items-center" style="font-size: large; text-align: center; font-weight: 600;">
                <p><span style="font-weight: 400;">Excluir</span> Exame #{{ object.pk }}<span style="font-weight: 400;">?</span></p>
            </div>
        </div>
        <div class="card-footer text-end bg-light">
            <form method="post">
                {% csrf_token %}
                <button type="button" onclick="window.location='/exam'" class="btn btn-outline-secondary me-2">Cancelar</button>
                <button type="submit" class="btn btn-danger">Excluir</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}